<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Farmer Register Page</title>
	<link rel="icon" type="image/svg" href="assets/FarmFreshLogo.svg" />
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="wrapper">
		<div class="tabs">
			<button class="navTab active" data-toggle="register">Register</button>
			<button class="navTab" data-toggle="login"><a href="/farmer-login">Login</a></button>
		</div>
		<div class="contentWrapper">
			
			<div class="content active" id="register">
				<form action="/farmer-signup" method="POST" autocomplete="on">
					<div class="formGroup">
						<label for="username">Name</label>
						<input type="text" id="username" placeholder="Name" required />
						<label for="register-aadhaar">Aadhaar Number</label>
						<input type="text" inputmode="numeric" pattern="[0-9]{0,12}" id="register-aadhaar"
							placeholder="Aadhaar Number" title="Enter a valid Aaadhaar Number" required />
						<small class="messageHelp" data-js="registerAadhaarIncorrect">
							Enter a valid Aadhaar Number
						</small>
						<label for="date-of-birth">Date Of Birth</label>
						<input type="date" id="date-of-birth" required />
						<small class="messageHelp" data-js="registerDOBIncorrect">Must be older than 18 years</small>
						<label for="phone-number">Phone Number</label>
						<input type="tel" id="phone-number" inputmode="numeric" pattern="[0-9]{0,10}"
							placeholder="Phone Number" required />
						<small class="messageHelp" data-js="registerDOBIncorrect">Enter a valid Phone Number</small>
						<div class="double-form-input">
							<div class="half-form-input">
								<label for="state">State</label>
								<!-- <input list="state-list" type="text" id="state" placeholder="State" /> -->
								<!-- <small class="messageHelp" data-js="registerDOBIncorrect">Enter a valid Phone Number</small> -->
								<select name="state" id="state" data-js="state-list">
									<option value="none" selected disabled hidden>Select State</option>
								</select>
							</div>
							<div class="half-form-input">
								<label for="district">District</label>
								<!-- <input type="text" id="district" placeholder="District" /> -->
								<!-- <small class="messageHelp" data-js="registerDOBIncorrect">Enter a valid Phone Number</small> -->
								<select name="district" id="district" data-js="district-list">
									<option value="none" selected disabled hidden>Select District</option>
								</select>
							</div>
						</div>
						<label for="register-password" data-content="show">Password</label>
						<input type="password" id="register-password" placeholder="Password" required
							title="Must be at least 6 characters" />
						<small class="messageHelp" data-js="registerPassIncorrect">Must be at least 6 characters</small>
						<form action="/farmer-login"><button class="btn" type="submit">Register</button></form>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/script.js" type="module"></script>
	<script src="/js/extraUtils.js" type="module"></script>
</body>

</html>