<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Search Page</title>
	<link rel="icon" type="image/svg" href="assets/FarmFreshLogo.svg" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
		integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/global.css" />
	<link rel="stylesheet" href="/css/search_page.css" />
	<script src="/js/search_page.js" defer></script>
</head>

<body>
	<nav class="navbar">
		<div class="navbar-login">
			<a class="navbar__login" data-selector="disabled" href="/order_page">Your Orders</a>
		</div>
		<div class="navbar-postAd">
			<a class="navbar__postAd" data-selector="enabled" href="#">Post Advertisements</a>
		</div>
		<div class="navbar-basket">
			<a class="navbar__basket" data-selector="disabled" href="/yourcart1"><img
					src="https://img.icons8.com/fluency-systems-regular/36/null/shopping-cart.png" /><span>Cart</span></a>
		</div>
	</nav>

	<div class="search-grid">
		<h3 class="search-heading">Search Crop</h3>
		<div></div>
		<div class="search-right-part">
			<div class="search-box">
				<input type="text" class="search-bar" />
				<img src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/24/null/external-search-ui-essentials-kmg-design-basic-outline-kmg-design.png" alt="search icon">
			</div>
			<div class="recommended">
				<h5 class="recommended-heading">Recommended for you</h5>
				<div class="recommended-list">
					<button class="reccomended-card">Potato</button>
					<button class="reccomended-card">Tomato</button>
					<button class="reccomended-card">Brinjal</button>
					<button class="reccomended-card">Carrot</button>
					<button class="reccomended-card">Cauliflower</button>
					<button class="reccomended-card">Corn</button>
					<button class="reccomended-card">Cabbage</button>
					<button class="reccomended-card">Pumpkin</button>
					<button class="reccomended-card">Capsicum</button>
					<button class="reccomended-card">Spinach</button>
					<button class="reccomended-card">Raddish</button>
					<button class="reccomended-card">Peas</button>
					<button class="reccomended-card">Onion</button>
					<button class="reccomended-card">Beetroot</button>
				</div>
			</div>
		</div>

		<div class="search-left-part">
			<div class="search-cards-grid">

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://www.ruchiskitchen.com/wp-content/uploads/2015/03/dumaloo_ingredients.jpg" alt="Potato">
							</div>
							<div class="info">
								<p class="cropHead">Potato</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1561136594-7f68413baa99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Tomato">
							</div>
							<div class="info">
								<p class="cropHead">Tomato</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1593677457477-79596c98cfd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Brinjal">
							</div>
							<div class="info">
								<p class="cropHead">Brinjal</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1582515073490-39981397c445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Carrot">
							</div>
							<div class="info">
								<p class="cropHead">Carrot</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1568584711075-3d021a7c3ca3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80" alt="Cauliflower">
							</div>
							<div class="info">
								<p class="cropHead">Cauliflower</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1634467524884-897d0af5e104?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Corn">
							</div>
							<div class="info">
								<p class="cropHead">Corn</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1508302730834-a3786a6c951d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Cabbage">
							</div>
							<div class="info">
								<p class="cropHead">Cabbage</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1538843586417-c6a03b5230ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" alt="Pumpkin">
							</div>
							<div class="info">
								<p class="cropHead">Pumpkin</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1508302730834-a3786a6c951d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Capsicum">
							</div>
							<div class="info">
								<p class="cropHead">Capsicum</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1598278242809-6c21ee17aef1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Spinach">
							</div>
							<div class="info">
								<p class="cropHead">Spinach</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="cancelcard">
						<div class="main">
							<div class="can cancel">
								<img src="https://images.unsplash.com/photo-1668080319913-a9d378495096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Raddish">
							</div>
							<div class="info">
								<p class="cropHead">Raddish</p>
								<p class="inform">Sufian Hussain</p>
								<a href="tel:+1234567891" class="idorder">1234567891</a>
							</div>
							<div class="down">
								<p class="orderid">Harvest Date:</p>
								<p class="oid">12 Jan 2022</p>
								<p class="orderdate">Location:</p>
								<p class="date">Kandhamala</p>
							</div>
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>
</body>

</html>