<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Your Cart</title>
	<link rel="icon" type="image/svg" href="assets/FarmFreshLogo.svg" />

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
		integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/global.css" />
	<link rel="stylesheet" href="/css/yourcart1.css" />
	<script src="/js/yourcart1.js" defer></script>
</head>

<body>
	<nav class="navbar">
		<div class="navbar-login">
			<a class="navbar__login" data-selector="disabled" href="/order_page">Your Orders</a>
		</div>
		<div class="navbar-postAd">
			<a class="navbar__postAd" data-selector="disabled" href="/search_page">Post Advertisements</a>
		</div>
		<div class="navbar-basket">
			<a class="navbar__basket" data-selector="enabled" href="#"><img
					src="https://img.icons8.com/fluency-systems-regular/36/null/shopping-cart.png" /><span>Cart</span></a>
		</div>
	</nav>

	<div class="shop-grid">
		<h3 class="shop-heading">Shopping Cart</h3>
		<h3 class="shop-heading">Total</h3>
		<div class="shop-list">
			<div class="card">
				<div class="grid_4 item">
					<a href="#" class="btn-remove">
						<i class="far fa-trash-alt"></i>
					</a>
					<div class="preview">
						<img
							src="https://images.unsplash.com/photo-1586201375761-83865001e31c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmljZSUyMGdyYWlufGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
					</div>
					<div class="details" data-price="75.00">
						<h3>Rice</h3>
						<p>
							Rani Senapati <br />
							Kandhamala, Odisha
						</p>
					</div>
					<div class="inner_container">
						<div class="col_1of2 align-center picker">
							<div>
								<a href="#" class="btn-quantity plus">
									<i class="fas fa-plus"></i>
								</a>
								<div class="col_1of2 quantity-text">
									<p>
										<span class="current_quantity">1</span>
										@ ₹ 75.00
									</p>
								</div>
								<a href="#" class="btn-quantity minus">
									<i class="fas fa-minus"></i>
								</a>
							</div>
							<input type="hidden" class="quantity_field" name="quantity" data-price="75.00" value="1" />
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="grid_4 item">
					<a href="#" class="btn-remove">
						<i class="far fa-trash-alt"></i>
					</a>
					<div class="preview">
						<img src="https://cdn.mos.cms.futurecdn.net/iC7HBvohbJqExqvbKcV3pP.jpg" />
					</div>
					<div class="details" data-price="28.00">
						<h3>Potato</h3>
						<p>
							Sufain Hussain <br />
							Kandhamala, Odisha
						</p>
					</div>
					<div class="inner_container">
						<div class="col_1of2 align-center picker">
							<div>
								<a href="#" class="btn-quantity plus">
									<i class="fas fa-plus"></i>
								</a>
								<div class="col_1of2 quantity-text">
									<p>
										<span class="current_quantity">1</span>
										@ ₹ 28.00
									</p>
								</div>
								<a href="#" class="btn-quantity minus">
									<i class="fas fa-minus"></i>
								</a>
							</div>
							<input type="hidden" class="quantity_field" name="quantity" data-price="28.00" value="1" />
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="grid_4 item">
					<a href="#" class="btn-remove">
						<i class="far fa-trash-alt"></i>
					</a>
					<div class="preview">
						<img
							src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/im_landscape_100/public/2022-05/tomatoes%C2%A9iStock.jpg.webp?itok=TSshpO47" />
					</div>
					<div class="details" data-price="32.00">
						<h3>Tomato</h3>
						<p>
							Mirza Matin <br />
							Kandhamala, Odisha
						</p>
					</div>
					<div class="inner_container">
						<div class="col_1of2 align-center picker">
							<div>
								<a href="#" class="btn-quantity plus">
									<i class="fas fa-plus"></i>
								</a>
								<div class="col_1of2 quantity-text">
									<p>
										<span class="current_quantity">1</span>
										@ ₹ 32.00
									</p>
								</div>
								<a href="#" class="btn-quantity minus">
									<i class="fas fa-minus"></i>
								</a>
							</div>
							<input type="hidden" class="quantity_field" name="quantity" data-price="32.00" value="1" />
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="grid_4 item">
					<a href="#" class="btn-remove">
						<i class="far fa-trash-alt"></i>
					</a>
					<div class="preview">
						<img
							src="https://images.unsplash.com/photo-1586201375761-83865001e31c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmljZSUyMGdyYWlufGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
					</div>
					<div class="details" data-price="75.00">
						<h3>Rice</h3>
						<p>
							Rani Senapati <br />
							Kandhamala, Odisha
						</p>
					</div>
					<div class="inner_container">
						<div class="col_1of2 align-center picker">
							<div>
								<a href="#" class="btn-quantity plus">
									<i class="fas fa-plus"></i>
								</a>
								<div class="col_1of2 quantity-text">
									<p>
										<span class="current_quantity">1</span>
										@ ₹ 75.00
									</p>
								</div>
								<a href="#" class="btn-quantity minus">
									<i class="fas fa-minus"></i>
								</a>
							</div>
							<input type="hidden" class="quantity_field" name="quantity" data-price="75.00" value="1" />
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="grid_4 item">
					<a href="#" class="btn-remove">
						<i class="far fa-trash-alt"></i>
					</a>
					<div class="preview">
						<img
							src="https://images.unsplash.com/photo-1586201375761-83865001e31c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmljZSUyMGdyYWlufGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
					</div>
					<div class="details" data-price="75.00">
						<h3>Rice</h3>
						<p>
							Rani Senapati <br />
							Kandhamala, Odisha
						</p>
					</div>
					<div class="inner_container">
						<div class="col_1of2 align-center picker">
							<div>
								<a href="#" class="btn-quantity plus">
									<i class="fas fa-plus"></i>
								</a>
								<div class="col_1of2 quantity-text">
									<p>
										<span class="current_quantity">1</span>
										@ ₹ 75.00
									</p>
								</div>
								<a href="#" class="btn-quantity minus">
									<i class="fas fa-minus"></i>
								</a>
							</div>
							<input type="hidden" class="quantity_field" name="quantity" data-price="75.00" value="1" />
						</div>
					</div>
				</div>
			</div>
			<div class="card"></div>
		</div>
		<div class="shop-total">
			<p class="label-name">Subtotal</p>
			<p class="price">25</p>
			<p class="label-name">Shipping</p>
			<p class="price">24</p>
			<p class="label-name">Delivery</p>
			<p class="price">34</p>
			<p class="label-name">GST 2.5%</p>
			<p class="price">2</p>
			<p class="label-name">SGST 2.5%</p>
			<p class="price">2</p>
			<p class="label-name">Total</p>
			<p class="price">6969</p>
			<button class="buy-now">Buy Now</button>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/f334ead1fc.js" crossorigin="anonymous"></script>
</body>

</html>